.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 20em;
    height: 25em;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}

img {
    width: 10em;
}

.product-price {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 2em;
}